<div class="row align-items-center">
    <div class="col-2">
      <div data-bs-theme="dark">
          <div class="card" style="max-width: 16rem; height: 950px;">
              <h5 style="color:#f4f6f7"><span class="badge text-bg-info mb-3 text-light" >В</span> Меню</h5>
              <div class="list-group">
                  <button type="button" class="btn btn-primary" style="margin:4px">Главная</button>
                  <button type="button" class="btn btn-primary" style="margin:4px">Категории</button>
                  <button type="button" class="btn btn-primary" style="margin:4px">Заказы</button>
                  <button type="button" class="btn btn-primary" style="margin:4px">Контакты</button>
              </div>
              <div class="btn-group position-absolute bottom-0 start-0">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Пользователь
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Выход</a></li>
                        <li><a class="dropdown-item" href="#">Профиль</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
